<div class="container-big-card">
    <div class="big-card-img">
        <img src="https://4.bp.blogspot.com/-Jqq6khqpBJs/U-r3x-ZzaFI/AAAAAAAACnc/_tUZZdzP1Co/s1600/maxresdefault.jpg" 
        alt="" s
        rcset="">
    </div>
    <div class="big-card-title">
        <a href="#"><h1>Top Gear - O melhor jogo de corrida do Super Nintendo?</h1></a>
    </div>
    <div class="big-card-desc">
        <a href="#">
            <p>O primeiro de todos e também o mais popular. 
            Foi lançado apenas no Super Nintendo e é publicado pela Kemco, 
            que foi a dona da marca em todos os seus lançamentos.</p>
        </a>
        
    </div>
</div>