.container-title h1 {
    margin: 15px 0 15px 0;
    display: flex;
    justify-content: center;
    font-size: 8em;
    font-family: Helvetica, sans-serif;
    font-weight: 600;
}

/* .container-title hr {
    margin-top: 10px;
    margin-bottom: 10px;
} */

