.container-title h1 {
    margin: 15px 0 15px 0;
    display: flex;
    justify-content: center;
    font-size: 8em;
    font-family: Helvetica, sans-serif;
    font-weight: 600;
}

/* .container-title hr {
    margin-top: 10px;
    margin-bottom: 10px;
} */

.container-title h1 {
    background-image: url('src\assets\bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center -300px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

